#hero {
  padding: 5rem 0;
  color: #fff;
  margin-left: 10%;
  max-width: 1400px;
  margin: 0 auto;
  background: url("../../../public/bgHero.png");
  background-position: 90%;
  background-size: 700px;
  background-repeat: no-repeat;

  .text {
    width: 90%;
  }

  h4 {
    background: linear-gradient(270.13deg, #ff9d57 -13.18%, #f94144 126.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-size: 1rem;
    font-weight: 600;
  }

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    width: 90%;
    padding-top: 2rem;
  }

  p {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.8);
  }

  button {
    background: #f3722c;
    width: 60%;
    height: 4.5vh;
    border: 0;
    color: #fff;
  }

  .span {
    margin-top: 1rem;
    width: 60%;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
  }
}
